<mat-toolbar>
  <span class="brand">Filler</span>
  <span class="spacer"></span>
  <div class="actions">
    <button mat-flat-button color="primary" (click)="newGame()">
      Налаштувати нову гру
    </button>
  </div>
  <ng-container *ngIf="user$ | async as user; else loginAction">
    <div class="auth-actions">
      <span class="username">{{ user.username }}</span>
      <button class="avatar" mat-icon-button type="button" aria-hidden="true">
        <mat-icon>account_circle</mat-icon>
      </button>
      <button mat-icon-button type="button" (click)="logout()" aria-label="Вийти">
        <mat-icon>logout</mat-icon>
      </button>
    </div>
  </ng-container>
  <ng-template #loginAction>
    <button mat-icon-button type="button" (click)="login()" aria-label="Логін">
      <mat-icon>login</mat-icon>
    </button>
  </ng-template>
</mat-toolbar>
