.game-page {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(100vh - 68px);
  align-items: stretch;
  justify-content: stretch;
}

.board {
  position: relative;
  display: flex;
  flex: 1;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.board canvas {
  display: block;
  width: 100%;
  height: 100%;
}
