<section class="auth-page">
  <mat-card>
    <h1 i18n="@@loginTitle">Логін</h1>
    <form [formGroup]="form" (ngSubmit)="submit()">
      <mat-form-field appearance="outline">
        <mat-label i18n="@@authUsernameLabel">Ім'я користувача</mat-label>
        <input matInput formControlName="username" />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label i18n="@@authPasswordLabel">Пароль</mat-label>
        <input matInput type="password" formControlName="password" />
      </mat-form-field>

      <button mat-flat-button color="primary" type="submit" [disabled]="loading" i18n="@@loginSubmit">Увійти</button>
    </form>
    <a routerLink="/register" i18n="@@loginCreateAccount">Створити акаунт</a>
  </mat-card>
</section>
