.game-page {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(100vh - 68px);
  align-items: stretch;
  justify-content: stretch;
}

.game-page fil-color-picker {
  order: 0;
}

.board {
  position: relative;
  display: flex;
  flex: 1;
  width: 100%;
  height: 100%;
  overflow: hidden;
  order: 1;
}

.board canvas {
  display: block;
  width: 100%;
  height: 100%;
}

@media (max-width: 768px) {
  .game-page fil-color-picker {
    order: 2;
    margin-top: 12px;
  }
}
