<div class="color-picker">
  @for (user of users; track user.id) {
    <div class="user">
      <div class="user-name">{{ user.name }}</div>
      <div class="palette">
        @for (color of palette; let colorIndex = $index; track colorIndex) {
          <button
            mat-mini-fab
            type="button"
            class="palette-color"
            [style.background-color]="color"
            (click)="handleColorPick(user.id, colorIndex, color)"
            aria-label="Select color {{ color }}"
          ></button>
        }
      </div>
    </div>
  }
</div>
