@use '@angular/material' as mat;

html {
  color-scheme: light dark;
  @include mat.theme((
    color: mat.$spring-green-palette,
    typography: Roboto,
    density: 0
  ));
}

:root {
  --font-rubik-spray-paint: 'Rubik Spray Paint', cursive;
}

body {
  margin: 0;
}

.rubik-spray-paint {
  font-family: var(--font-rubik-spray-paint);
}

.cpu-taunt {
  font-weight: 600;
  text-align: center;
}
