.color-picker {
  display: flex;
  justify-content: space-around;
  margin: 8px 0;
}

.user {
  font-size: 1.2rem;
  display: flex;
  gap: 8px;
  font-weight: 600;
}

.palette {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.palette-color {
  border: 1px solid rgba(0, 0, 0, 0.12);
}
